html {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: azure;
}

header {
  display: flex;
  justify-content: flex-end;

}

header ul {
  display: flex;

}

ul{
  /* Removendo os pontos das listas */
  list-style: none;
}

li {
  font-size: larger;
  padding: 5px;
}

header ul li a{
  transition: 300ms;
}

.link-contact:hover {
  color: rgb(182, 177, 177);
  text-decoration: underline;
}


a {
  /* Removendo o subilinhado */
  text-decoration: none;   
}


li.button {
  border-style: solid;
  border-color: gray;
  border-width: 0.2ch;
  border-radius: 5px;
  margin-inline: 5px;
  margin-bottom: 2.5px;
  background-color:dimgray ;
  transition: 350ms;
  text-shadow: 2px 2px 2px black ;


}

li.button:hover{
  background-color: aliceblue;
  text-shadow:none;

}

.a-button:hover {
  color: black;
}


video {
  position:fixed;
  z-index: -1;
  opacity: 73%;
  margin:auto;
  width: 100%;

}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
}

@media (max-aspect-ratio: 16/9) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  video{
    height: 100%;
    width: auto;
  }
}

@media (min-aspect-ratio: 16/9) {
  video{
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  video{
    display: none;
  }
  
  header {
    justify-content: center;
  }

  .li-links {
    padding: 15px;
  }

  body{
    display: flex;
    background: #1a6177;
    justify-content: center;
    margin:auto;
    width: 100%;
    height: auto;

  }
}

