.seta {
    width: 20px;
    height: 20px;
    animation: blink 1.367s steps(5, start) infinite;
}
/* Animação da seta */
@keyframes blink {
    to {
        visibility: hidden;
    }
    
}


.divForm {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    color: black;
    text-align: start;
    z-index: 3;

}

textarea {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    color: black;
    text-align: start;
}

.contactForm {
    margin: auto;
}

.longText {
    height: 140px;
}

button {
    color: black;
    background-color: green;
    padding: 12px;
    margin: 10px;
    width: 80px;
    border-radius: 6px;
    transition:230ms;
    cursor: pointer;
    font-weight: 900;
}

button:hover {
    background-color: rgb(0, 98, 128);

}