html {
    background-color: #1a6177;
    display: flexbox;

}


img{
    display: flexbox;
    flex-direction: column;
}

div.div-info {
    background-color: #1a6177;
    display: flexbox;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo-info {
    font-size: 23px;
    color: whitesmoke;
}

.texto-sobre {
    font-size: 18px;
    width: 800px;
    text-align: justify;
}

.lista-ferramentas {
}