* {
  box-sizing: border-box !important;
}

.sobre-main::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.profile-user {
  background-size: cover;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 30%;
  justify-content: center;
}

.profile {
  height: auto;
  border-radius: 50%;
  border: 3.5px solid rgba(0, 0, 0, 0.5);
}


h1 {
  text-shadow: 3px 3px black;
  margin-left: 80px;
}

div.div-info {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.726),
    inset 0 0 2000px rgba(0, 0, 0, 0.514);
  width: 850px;
  border-radius: 6px;
}

p {
  padding: 5px;
}

.titulo-info {
  font-size: 23px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  margin-bottom: 5px;
}

.texto-sobre {
  font-size: 18px;
  width: 800px;
  text-align: justify;
}

.lista-ferramentas {
  display: inline-block;
  margin: 4%;
  align-items: flex-start;
}
