.main-work{
    display: flex;
}
.section-card{
    display: block !important;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
    width: 600px;
    justify-content: center;
    margin-top: 60px;
    border-radius: 5px;



}
.card{
    justify-content: center;
    align-content: center;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.342);
    text-align: center;
    border-radius: 5px;

}

.card-titulo:hover {
    text-decoration: underline;
}

.card-description{
    padding-bottom: 15px;
}

.imagem-card {
    position: relative;
    width: 60%;
    padding: 30px;
}
